@import "../css/reset.css";
@import "../fonts/opensans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/

body {
  font: {
    family: 'Open Sans Condensed', 'Arial', sans-serif;
    size: 16px;
  }
}
.container {

}
.awesome {
  &:after {
    font-family: 'FontAwesome';
    content: '\f19d';
  }

}

/* Блок шапки сайта начало */

/* Блок шапки сайта конец */